/* Navbar styles */
.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    z-index: 100;
    width: inherit;
  }
  
  .logo {
    font-size: 24px;
  }
  
  .menu {
    display: flex;
    list-style: none;
  }
  
  .menu.active {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 20px;
    width: 100px;
    background: #333;
    transition: all 0.3s ease;
  }
  
  .item {
    padding: 10px 0;
  }
  
  /* Hamburger menu toggle */
  .toggle {
    display: none;
    cursor: pointer;
  }
  
  .toggle.active .bar {
    background-color: white;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
    transition: background-color 0.3s ease;
  }